<div id="background" class="main-div" >

  <mat-card class="sub-mat-card mat-elevation-z10">
    <div class="SignInLable">Sign in</div>
    <div class="matIcon">
      <mat-icon class="mat-18" color="white">facebook</mat-icon>
      <mat-icon class="mat-18" color="white">github</mat-icon>
      <mat-icon class="mat-18" color="white">google</mat-icon>
    </div>
  </mat-card>
  
  <mat-card class="main-mat-card">
    
    <mat-card-header style="height: 20vh;">
        
    </mat-card-header>
    
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="loginData.email" name="email" required
        (keydown.enter)="login()">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error> Email Required</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="loginData.password" [type]="hide ? 'text' : 'password'"
        name="password" required (keydown.enter)="login()">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error> Password Required</mat-error>
      </mat-form-field>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="elevationClass SignInButton" (click)="login()">SIGN IN </button>
      <p>Don't have an account <a class="SignUpButton" [routerLink]="[ '/register' ]">Sign Up</a></p>
    </mat-card-actions>
  </mat-card>
</div>