.mat-card{
    /* height: 40vh; */
    background-color: white;
    border-radius: 15px;
}

.pngimg{
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
    border-radius: 10px;
    position: relative;
    color:white;
    top:35px;
    z-index: 1;
    margin-left: 20px;
    margin-right: 20px;
}
   
/* // MAT SLIDER */
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: gray !important;  /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #252527 !important; /*replace with your color*/
}